.product-details {
    width: 48%;
}

.product-details h1 {
    margin-bottom: 0;
}

.product-details .category {
    text-transform: uppercase;
}

.product-details .stars {
    display: flex;
    margin-top: 20px;
}

.product-details .stars span:not(.num) {
    display: flex;
    color: #ffcd00;
    font-size: 19px;
}

.product-details .num {
    font-size: 14px;
}

.product-details hr {
    border: none;
    border-bottom: 1px solid #f5e8e8;
}

.product-details .price span {
    font-size: 20px;
}

.product-details .old-price {
    color: #0fb3c959;
    margin-left: 40px;
    text-decoration: line-through;
}

.product-details .info {
    margin: 20px 0;
    color: #999;
}

.product-details .sizes {
    display: flex;
    margin-bottom: 20px;
}

.product-details button.size {
    margin-right: 10px;
}

.product-details button.size {
    width: 55px;
    height: 45px;
    cursor: pointer;
    background: #f9f9f9;
    border: 1px solid #ededed;
    transition: 0.5s;
}

.product-details button.size.active{
    background: #d9f0f3;
  }

.product-details .add-to-cart {
    margin-bottom: 20px;
}

.product-details .add-to-cart .inputs-content {
    display: flex;
    margin-bottom: 20px;
}

.product-details .add-to-cart .amount {
    display: flex;
    margin-right: 20px;
}

.product-details .amount.disabled {
    display: none;
}

.product-details .amount .num input {
    width: 47px;
    height: 42px;
    padding: 3px;
    text-align: center;
    border: 1px solid #e2e2e2;
    color: rebeccapurple;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.product-details .amount .num input:focus {
    outline: none;
}



.product-details .amount .control {
    width: 25px;
    height: 42px;
}

.product-details .control button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 21px;
    border: none;
    cursor: pointer;
    outline: none;
}

.product-details .control button:first-of-type {
    background: #e9e7e7;
}

.product-details .control button:last-of-type {
    background: #e1e1e1;
}

.product-details .add-to-cart .add {
    width: 235px;
    height: 42px;
    border: none;
    cursor: pointer;
    background: #b24af7;
    color: #fff;
}

.product-details .add-to-cart .add.disabled {
    cursor: not-allowed;
    background: #d3a2f3 !important;
}

.product-details .add-to-cart .msg {
    width: fit-content;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: red;
    border-bottom: 1px solid rgb(250, 244, 244);
}

.product-details .interact {
    display: flex;
}

.product-details .interact .box {
    width: fit-content;
    margin-right: 30px;
}

.product-details .interact .icon-btn {
    background: none;
    border: none;
    padding: 0;
}

.product-details .interact .box span {
    font-size: 14px;
    margin-left: 8px;
}

.product-details .payment-methods {
    display: flex;
}

.product-details .payment-methods .method {
    margin-right: 15px;
}

.product-details .method img {
    width: 45px;
}

.product-details hr {
    border-top: 1px solid #999;
}

.product-details .link {
    color: #000;
}


/* media */
@media only screen and (max-width: 600px) {
    .product-details {
        width: 100%;
    }

    .product-details .interact .box {
        margin-right: 29px;
    }
}