.pagination {
    margin-top: 30px;
    justify-content: center;
}

.pagination .paginate-btn {
    width: 37px;
    height: 34px;
    line-height: 33px;
    padding: 0;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid #dddada;
    background: #f8f8f8;
    transition: 0.5s;
}

.pagination .paginate-btn.active {
    background-color: rebeccapurple;
    color: #fff;
}

.pagination .paginate-btn.chevron {
    border: none;
}

.pagination .paginate-btn.chevron.disabled {
    color: #999;
}

.pagination .dots {
    margin-right: 10px;
}
