.navbar {
    height: 10px;
    background: linear-gradient(180deg,#d5d5d5, #f6f6f6);
    padding: 0 !important;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar.active {
    box-shadow: 0 1px 15px #1a171726;
}

.navbar .container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    width: 100px;
}

.navbar .main-links {
    display: flex;
    align-items: center;
}

.navbar .main-links .links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .main-links .links li {
    margin-right: 20px;
}

 .navbar .main-links .link:not(.cart-btn .link) {
    text-decoration: none;
    color: black;
    position: relative;
 }

 .navbar .links .link:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: none;
    transition: 0.7s;
 }

.navbar li .link.active::after {
    background: #ef8256;
    bottom: 0;
}

.navbar .main-links .tamplates-link {
    position: relative;
}

.navbar .main-links .tamplates-link.for-mobile {
    display: none;
}

.navbar .main-links .tamplates-link .btn-content {
    height: 90px;
    line-height: 90px;
}

.navbar .main-links .tamplates-link button {
    padding: 0;
    background: none;
    border: none;
    width: 100%;
}

.navbar .tamplates-link .templates-icon {
    margin-left: 5px;
    font-size: 14px;
    color: #999;
    transition: 0.5s;
}

.navbar .tamplates-link:not(.for-mobile):hover .templates-icon{
    transform: rotate(45deg);
}

.navbar .tamplates-link:not(.for-mobile):hover button span,
.navbar .tamplates-link:not(.for-mobile):hover button .templates-icon  {
    color: #fc5d1f;
}

.navbar .login-cart {
    display: flex;
    align-items: center;
}

.navbar .login-cart button.special-link {
    border: none;
    background: none;
}

.navbar .login-cart .special-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar .login-cart .special-link .icon {
    font-size: 22px;
    color: #000;
}

.navbar .login-cart .special-link .icon.heart {
    color: #fc5d1f;
}

.navbar .login-cart .cart-btn {
    position: relative;
    margin-left: 15px;
}

.navbar .login-cart .cart-btn > button {
    background: none;
    border: none;
}

.navbar .login-cart .cart-btn button > img {
    width: 50px;
}

.navbar .login-cart .cart-btn .count {
    display: block;
    position: absolute;
    top: 0;
    right: 25%;
    background: #ef8256;
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50%;
    font-size: 10px;
}

.navbar .toggle {
    display: none;
}

/* media */
@media only screen and (max-width: 600px) {
    .navbar .toggle {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        border: none;
        background: none;
        width: 45px;
        padding: 0;
    }

    .navbar .toggle span {
        display: block;
        height: 2px;
        background: #18489f;
        transition: 0.5s;
    }

    .navbar .toggle span.short {
        width: 25px;
        margin-bottom: 12px;
    }

    .navbar .toggle .short.active {
        transform: rotate(45deg) translate(8px, 0px);
    }

    .navbar .toggle .long.active {
        transform: rotate(-45deg) translate(10px, -2px);
        width: 25px;
    }

    .navbar .toggle span.long {
        width: 45px;
    }

    .navbar .logo img {
        width: 90px;
    }

   .navbar .main-links {
        position: absolute;
        top: 90px;
        left: 0;
        flex-wrap: wrap;
        width: 100%;
        background: linear-gradient(180deg, #f6f6f6, #d7d7d7);
        transition: 1s;
        overflow: hidden;
    }

    .navbar .main-links.show {
        height: 510px;
    }

    .navbar .main-links.hide {
        height: 0;
    }

    .navbar .main-links .links {
        display: unset;
        width: 100%;
    }

    .navbar .main-links .links li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #fff9;
        transition: 0.5s;
    }

    .navbar .main-links .links li:first-of-type {
        border-top: 1px solid #fff9;
    }

    .navbar .main-links .links li:hover {
        background: #fff9;
    }

    .navbar .main-links .links li .link {
        display: block;
        width: 100%;
        padding: 13px 20px;
        letter-spacing: 2px;
    }

    .navbar .main-links .links li .link::after {
        display: none;
    }

    .navbar .special-link.wish {
        display: none;
    }

    .navbar .login-cart .cart-btn {
        margin-left: 0;
    }

    .navbar .login-cart .cart-btn button > img {
        width: 45px;
    }

    .navbar .login-cart .cart-btn .count {
        top: -2px;
    }

    .navbar .main-links .tamplates-link .btn-content {
         height: 75px;
         line-height: 75px;
    }

    .navbar .main-links .tamplates-link {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    .navbar .main-links .tamplates-link:not(.for-mobile) {
        display: none;
    }
    
    .navbar .main-links .tamplates-link.for-mobile {
        display: block;
        width: 100%;
    }

    .navbar .tamplates-link.for-mobile button span {
        transition: 0.5s;
    }

    .navbar .tamplates-link.for-mobile:hover button span {
        color: #061838;
    }

    .navbar .tamplates-link.for-mobile button.active .templates-icon,
    .navbar .tamplates-link.for-mobile button.active:hover .templates-icon {
        color: red;
    }

    .navbar .tamplates-link.for-mobile button:hover .templates-icon {
        color: #18489f;
    }

    .navbar .tamplates-link.for-mobile button.active .templates-icon {
        transform: rotate(45deg);
        font-size: 22px;
    }
  }