.shop2 .container > .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop2 .content .left-box {
    width: 22%;
}

.shop2 .left-box .category {
    margin-bottom: 40px;
}

.shop2 .chosen-filters {
    display: flex;
    flex-wrap: wrap;
}

.shop2 .chosen-filters li {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 7px;
    padding: 3px 8px;
    background: #f8f8f8;
    font-size: 14px;
}

.shop2 .chosen-filters li button {
    background: none;
    padding: 0;
    border: none;
    margin-right: 5px;
    font-size: 13px;
    color: rebeccapurple;
}

.shop2 .left-box .category > h3 {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 20px;
}

.shop2 .left-box .category li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.shop2 .left-box .category li input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: rebeccapurple;
    margin-right: 8px;
}

.shop2 .left-box .category li input[type="checkbox"],
.shop2 .left-box .category li label {
    cursor: pointer;
}

.shop2 .content .right-box {
    width: 74%;
}

.shop2 .content .top-filter {
    position: relative;
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 17px 20px;
    background: #f8f8f8;
    z-index: 99;
}

.shop2 .content .products {
    width: 100%;
}

.shop2 .no-products {
    text-align: center;
}

.shop2 .no-products .chosen-filters {
    justify-content: center;
}

.shop2 .no-products h2 {
    font-size: 26px;
}

.shop2 .content .top-filter .view .view-btn {
    background: none;
    border: none;
    margin-right: 8px;
    font-size: 22px;
}

.shop2 .top-filter .view .view-btn.active {
    color: rebeccapurple;
}

.shop2 .content .top-filter .select-boxes {
    display: flex;
}

.shop2 .content .top-filter .select-boxes select {
    padding: 5px 8px;
    border: none;
    border-right: 8px solid transparent;
    border-radius: 5px;
    box-shadow: #63636309 0 2px 8px;
}

.shop2 .top-filter .select-boxes select:focus {
    outline: none;
}

.shop2 .content .top-filter .select-boxes .sort {
    margin-right: 60px;
}

.shop2 .content .products-content {
    display: flex;
    flex-wrap: wrap;
}

.shop2 .products-content .item {
    width: 31%;
    margin-right: 3.5%;
}

.shop2 .products-content .item:nth-child(3n) {
    margin-right: 0;
}

/* media */
@media only screen and (max-width: 600px) {

    .shop2 .container {
        max-width: 100% !important;
    }

    .shop2 .container > .content {
        flex-direction: column;;
    }

    .shop2 .content .left-box {
        width: 100%;
    }

    .shop2 .left-box .category {
        margin-bottom: 0;
    }

    .shop2 .left-box .category button {
        background: #f5f5f5;
        border: 1px solid #e9e8e8;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        border-radius: 7px;
    }

    .shop2 .left-box .category button h3 {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
    }

    .shop2 .left-box .category > h3 {
        font-size: 14px;
        text-transform: uppercase;
    }

    .shop2 .left-box .category ul {
        display: flex;
        flex-wrap: wrap;
    }

    .shop2 .left-box .category ul,
    .shop2 .left-box .price-range {
        transition: 0.5s;
        overflow: hidden;
        background: #fcfaeb;
        margin-bottom: 20px;
    }

    .shop2 .left-box .category li input[type="checkbox"] {
        width: 15px;
        height: 15px;
        accent-color: rebeccapurple;
        margin-right: 5px;
    }

    .shop2 .left-box .price-range {
        padding: 0 20px;
    }

    .shop2 .left-box .price-range .slider {
        margin-top: 20px;
    }

    .shop2 .left-box .category .show {
        max-height: 140px;
    }
    
    .shop2 .left-box .category .hide {
        max-height: 0;
    }

    .shop2 .left-box .category li {
        width: 33.333%;
        padding: 10px;
    }

    .category li label {
        font-size: 14px;
    }

    .shop2 .content .right-box {
        width: 100%;
    }

    .shop2 .content .top-filter .view {
        display: none;
    }

    .shop2 .content .top-filter .view .view-btn {
        margin-right: 0;
        font-size: 19px;
    }

    .shop2 .content .products-content {
        justify-content: space-between;
    }

    .shop2 .products-content .item {
        width: 48%;
    }

    .shop2 .products-content .item {
        margin-right: 0;
    }

}