.newsletter {
    position: relative;
    background: #fdfdfb;
    padding-bottom: 80px;
}

.newsletter .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter .content > div {
    width: 46%;
}

.newsletter .imgbx img {
    width: 80%; /* Reduced width */
    margin-top: -50px; /* Adjusted margin */
    margin-bottom: -10px; /* Adjusted margin */
}

@media only screen and (max-width: 600px) { 
    .newsletter .imgbx img {
        width: 100%; /* Full width for smaller screens */
        margin-top: 0; /* Remove negative margin */
        margin-bottom: 0; /* Remove negative margin */
    }
}


.newsletter .text h1 {
    font-size: 45px;
    margin-bottom: 0;
}

.newsletter .text p {
    font-size: 30px;
    font-weight: 600;
    color: #bf72ac;
    font-family: 'Allison', cursive;
    margin-top: 0;
}

.newsletter .text .features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.newsletter .features li {
    margin-bottom: 10px;
}

.newsletter .features li .num {
    display: inline-block;
    background: #f6f6f6;
    width: 33px;
    height: 33px;
    line-height: 33px;
    font-size: 13px;
    text-align: center;
    margin-right: 15px;
    border-radius: 50%;
}

.newsletter .feature1 .num{
    color: #962bb1;
    border: 1px solid #f0c1fc;
}

.newsletter .feature2 .num{
    color: #1948a0;
    border: 1px solid #abc5f5;
}

.newsletter .feature3 .num{
    color: #c42446;
    border: 1px solid #ffced8;
}
.newsletter .subscribe {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.newsletter .subscribe input {
    width: 415px;
    height: 47px;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid #abc5f5;
    transition: 0.5s;
}

.newsletter .subscribe input:focus {
    outline: none;
    box-shadow: 0 1px 15px #c4d4f3;
    border: 1px solid #dde8fd;
}

.newsletter .subscribe button {
    width: 43px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    margin-left: -46px;
    background: #0f172a;
    color: #f6f6f6;
    cursor: pointer;
}



/* media */
@media only screen and (max-width: 600px) { 
    .newsletter .imgbx {
        display: none;
    }

    .newsletter .content > div {
        width: 100%;
    }

    .newsletter .text h1 {
        font-size: 37px;
    }

    .newsletter .text p {
        font-size: 28px;
        font-weight: 600;
        color: #bf72ac;
        font-family: 'Allison', cursive;
        margin-top: 20px;
    }

    .newsletter .subscribe input {
        width: 100%;
    }
}